
        <%- include('header')%>
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Table</a></li>
                            <li class="active">Basic table</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Basic Table</strong>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Number</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Password</th>
                                            <th scope="col">Gender</th>
                                            <th scope="col">Hobby</th>
                                            <th scope="col">City</th>
                                            <th scope="col">Message</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var no=1;for(let data of showData){%>
                                        <tr>
                                            <td><%= no++%></td>
                                            <td><%= data.name%></td>
                                            <td><%= data.email%></td>
                                            <td><%= data.password%></td>
                                            <td><%= data.gender%></td>
                                            <td><%= data.hobby%></td>
                                            <td><%= data.city%></td>
                                            <td><%= data.message%></td>
                                            <td><img src="<%= data.image%>" alt="profile_image" width="200" height="200"></td>
                                            <td><a href="/admin/deleteAdmin/<%= data.id%>"><i class="fa fa-trash"></i></a>||
                                                <a href="/admin/updateAdmin/?id=<%= data.id%>"><i class="fa fa-edit"></i></a></td>
                                            
                                        </tr>
                                        <% }%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
        </div><!-- .content -->


    </div>
    <%- include('footer')%>